<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{activity.title}} | ActiVenture</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'main/abous.css' %}">
  <link rel="stylesheet" href="{% static 'main/main.css' %}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
  <!-- Header -->


  <header type = "submit" class = "recommend_Bar">
    <nav>
      <ul>
        <li>
          <a href="/home"><img src="{% static 'main/images/ActiVenture.png' %}" alt="Mimage"></a>
        </li>
        <li>
          <button type = "submit" class = "Jack" onclick="location.href='/category/all'">
            All
          </button>
        </li>

        <li>
          <button  type = "submit" class = "Jack" onclick="location.href='/category/sports'">
            Sports
          </button>
        </li>

        <li>
          <button type = "submit" class = "Jack" onclick="location.href='/category/camps'">
            Camps
          </button>
        </li>


        <li>
          <button type = "submit" class = "Jack" onclick="location.href='/category/academics'">
            Academics
          </button>
        </li>


        <li>
          <button type = "submit" class = "Jack" onclick="location.href='/category/music'">
            Music
          </button>
        </li>

        <li>
          <button type = "submit" class = "Jack" onclick="location.href='/category/arts'">
            Arts
          </button>
        </li>

        <li>
          <button type = "submit" class = "Jack" onclick="location.href='/category/afterschool'">
            After School
          </button>
        </li>

        <li>
          <button type = "submit" class = "Jack" onclick="location.href='/category/coding'">
            Coding
          </button>
        </li>


      </ul>
    </nav>
  </header>


  <main>
    <div class="about-us">

      <div class = "row">
        <div class="column">
          <img src="{% static 'main/images/booksTINTT.PNG' %}" alt="My image">
        </div>
        <div class="column">
          <img src="{% static 'main/images/tint2.PNG' %}" alt="Mimage">
        </div>
        <div class="column">
          <img src="{% static 'main/images/pencilGreen.PNG' %}" alt="Mimage">
        </div>
      </div>

      <div class = "content2">
        <h1>About Us</h1>
        <p>Providing influential opportunities for the youth is at the center of active in order to give youn
          Providing influential opportunities for the youth is at the center of ActiVenture. In order to give younger generations a chance to explore their interests, our customers must be able to find activities that would complement their passions, as well as their busy schedule. Our mission is to inspire the next generation to pursue their dreams and reach their full potential. Whether it's through hands-on workshops, interactive events, or mentorship programs, we aim to provide a supportive and inclusive environment where youth can learn, grow and have fun. Join us as we empower the youth to discover their passions and shape their future. </p>
        <h2>Our Team</h2>
        <ul>
          <li>John Smith - CEO</li>
          <li>Jane Doe - CFO</li>
          <li>Bob Johnson - CTO</li>
        </ul>
        <h2>Contact Us</h2>
        <p>Email: contact@ourcompany.com</p>
        <p>Phone: 555-555-5555</p>
      </div>

      
    </div>
    
  </main>



    <footer>
      <div class="container">
        <p>Copyright ©2022 ActiVenture</p>
        <nav>
          <a href="/home">Home</a>
          <a href="#">About</a>
          <a href="#">Contact</a>
          <a href="/hostEvent">Host Your Event</a>
          <a href="#">Our Team</a>
        </nav>
      </div>
    </footer>
</body>
</html>
