<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{activity.title}} | ActiVenture</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'main/main.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
  <!-- Header -->
  <header class="page-head">
    <nav class="site-nav">
      <ul>
        <a href="/home"><img src="{% static 'main/images/ActiVenture.png' %}" alt="Mimage"></a>
      </ul>
    </nav>
    <div class="search-container">
      <form class = "search-form" action="{% url 'search' %}" method="get">
        <input type="text" placeholder="Search" name="query" value="{{ request.POST.query }}"autocomplete="off">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </header>

  <header type = "submit" class = "recommend_Bar">
    <nav>
      <ul>
        <li>
          <button type = "submit" class = "Jack" onclick="location.href='/category/all'">
            All
          </button>
        </li>

        <li>
          <button  type = "submit" class = "Jack" onclick="location.href='/category/sports'">
            Sports
          </button>
        </li>

        <li>
          <button type = "submit" class = "Jack" onclick="location.href='/category/camps'">
            Camps
          </button>
        </li>


        <li>
          <button type = "submit" class = "Jack" onclick="location.href='/category/academics'">
            Academics
          </button>
        </li>


        <li>
          <button type = "submit" class = "Jack" onclick="location.href='/category/music'">
            Music
          </button>
        </li>

        <li>
          <button type = "submit" class = "Jack" onclick="location.href='/category/arts'">
            Arts
          </button>
        </li>

        <li>
          <button type = "submit" class = "Jack" onclick="location.href='/category/afterschool'">
            After School
          </button>
        </li>

        <li>
          <button type = "submit" class = "Jack" onclick="location.href='/category/coding'">
            Coding
          </button>
        </li>


      </ul>
    </nav>
  </header>
  <main>
    <div class="activity-page">
      <h1 class="title">{{ activity.title }}</h1>
      <div class="activity-header">
        <img src="{{ activity.thumbnail.url }}" alt="{{ activity.title }}">
        <div style="display:block">
          <h2>About:</h2>
          <p>{{ activity.description }}</p>
        </div>
      </div>
      <div class="activity-details">
        <button type = "submit" onclick="location.href='{{activity.activityPage}}'">
          Sign Up!
        </button>
        <p><strong>Location:</strong> {{ activity.streetAddress }}, {{ activity.city }}, {{ activity.state }}, {{ activity.areaCode }}, {{ activity.country }}</p>
        <p><strong>Date & Time:</strong> {{ activity.startDate }} - {{ activity.endDate }} at {{ activity.startTime }} - {{ activity.endTime }}</p>
        <p><strong>Frequency:</strong> {{ activity.frequency }}</p>
        <p><strong>Price:</strong> {{ activity.price }}</p>
        <p><strong>Host:</strong> {{ activity.hostName }}</p>
        <p><strong>Participants:</strong> {{ activity.participants }}</p>
        <p><strong>Age Range:</strong> {{ activity.minAge }} - {{ activity.maxAge }}</p>
        <p><strong>Difficulty:</strong> {{ activity.difficulty }}</p>
        <p><strong>Tags:</strong> {% for tag in activity.tags.all %}{{ tag }}{% endfor %}</p>
        <p><strong>Days of the Week:</strong> {% for day in activity.days_of_week.all %}{{ day.name }}{% endfor %}</p>
      </div>
    </div>
  </main>
    <footer>
      <div class="container">
        <p>Copyright ©2022 ActiVenture</p>
        <nav>
          <a href="#">Home</a>
          <a href="/aboutus/">About</a>
          <a href="#">Contact</a>
          <a href="/hostEvent/">Host Your Event</a>
          <a href="#">Our Team</a>
        </nav>
      </div>
    </footer>
</body>
</html>