
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ActiVenture</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'main/main.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
  <!-- Header -->
  <header class="page-head">
    <nav class="site-nav">
      <ul>
        <a href="/home"><img src="{% static 'main/images/ActiVenture.png' %}" alt="Mimage"></a>
      </ul>
    </nav>
    <div class="search-container">
      <form class = "search-form" action="{% url 'search' %}" method="get">
        <input type="text" placeholder="Search" name="query" value="{{ request.POST.query }}"autocomplete="off">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>

  </header>

  <header type = "submit" class = "recommend_Bar">
    <nav>
      <ul>
        <li>
          <button type = "submit" class = "Jack" onclick="location.href='/category/all'">
            All
          </button>
        </li>

        <li>
          <button  type = "submit" class = "Jack" onclick="location.href='/category/sports'">
            Sports
          </button>
        </li>

        <li>
          <button type = "submit" class = "Jack" onclick="location.href='/category/camps'">
            Camps
          </button>
        </li>


        <li>
          <button type = "submit" class = "Jack" onclick="location.href='/category/academics'">
            Academics
          </button>
        </li>


        <li>
          <button type = "submit" class = "Jack" onclick="location.href='/category/music'">
            Music
          </button>
        </li>

        <li>
          <button type = "submit" class = "Jack" onclick="location.href='/category/arts'">
            Arts
          </button>
        </li>

        <li>
          <button type = "submit" class = "Jack" onclick="location.href='/category/afterschool'">
            After School
          </button>
        </li>

        <li>
          <button type = "submit" class = "Jack" onclick="location.href='/category/coding'">
            Coding
          </button>
        </li>


      </ul>
    </nav>
  </header>

  <!-- Main content -->
  <main>
    <h1>{{ category }}</h1>

    <div class = "sidebar">
        <div class="content">
          <div class="button-wrapper" id="reset-filter-div">
            <p>Reset Filter</p>
            <button type="button" id="reset-filter-btn"></button>
          </div>
            <div class = "indenter"> 
              <h2 class = "topic">Difficulty</h2>
              <div class="contentOf">
                <a href="javascript:location.search+='&difficulty=beginner';">Beginner</a>
                <a href="javascript:location.search+='&difficulty=intermediate';">Intermediate</a>
                <a href="javascript:location.search+='&difficulty=advanced';">Advanced</a>
              </div>
            </div> 

            <div class = "indenter"> 
              <h2 class = "topic">Price</h2>
              <form id="price-form" class="contentOf input_form">
                <input type="text" id="min-price" name="min_price" autocomplete="off" placeholder="Min">
                to
                <input type="text" id="max-price" name="max_price" autocomplete="off" placeholder="Max">
                <button type="submit"><i class="fa fa-chevron-right"></i></button>
              </form>
            </div>  

            <div class = "indenter"> 
              <h2 class = "topic">Day of the Week</h2>
              <div class="contentOf">
                <a href="javascript:location.search+='&day=monday';">Monday</a>
                <a href="javascript:location.search+='&day=tuesday';">Tuesday</a>
                <a href="javascript:location.search+='&day=wednesday';">Wednesday</a>
                <a href="javascript:location.search+='&day=thursday';">Thursday</a>
                <a href="javascript:location.search+='&day=friday';">Friday</a>
                <a href="javascript:location.search+='&day=saturday';">Saturday</a>
                <a href="javascript:location.search+='&day=sunday';">Sunday</a>
              </div>
            </div> 
            <div class = "indenter"> 
              <h2 class = "topic">Age</h2>
              <form id="age-form" class="contentOf input_form">
                <input type="text"  id="min-age" name="min_age" autocomplete="off" placeholder="Min">
                to
                <input type="text" id="max-age" name="max_age" autocomplete="off" placeholder = "Max">
                <button type="submit"><i class="fa fa-chevron-right"></i></button>
              </form>
            </div> 

            

          </div>
        </div>


    <section id="storefront">
      
      {% if activty_list %}
          {% for activity in activty_list %}
              <a href="/activity/{{ activity.title }}/?category={{ category }}">
                  <article class="activity">
                      <div class="image_container"> 
                        <img src="{{activity.thumbnail.url}}" alt="{{ activity.title }}">
                      </div>
                      <div class="text">
                        <div class="inline">
                          <h2 align = "left" class = "title">{{ activity.title }}</h2>
                          <p align = "left" class = "host">Hosted by {{activity.hostName}}</p>
                        </div>
                        <p align = "left" class = "location">{{activity.streetAddress}}, {{activity.city}}</p>
                        <h3 align = "left" class = "time">{{activity.startTime|time:"g:i" }}-{{activity.endTime|time:"g:i" }}</h3>
                        <p align = "left" class = "days">
                          {% for day in activity.days_of_week.all %}
                            {{ day.name|capfirst }}{% if not forloop.last %},{% endif %}
                          {% endfor %}
                        </p>
                      </div>
                  </article>
              </a>
          {% endfor %}
      {% else %}
          <p>No activities available.</p>
      {% endif %}

    </section>

    
  </main>

 
  





  <footer>
    <div class="container">
      <p>Copyright ©2022 ActiVenture</p>
      <nav>
        <a href="#">Home</a>
        <a href="/aboutus/">About</a>
        <a href="#">Contact</a>
        <a href="/hostEvent/">Host Your Event</a>
        <a href="#">Our Team</a>
      </nav>
    </div>
  </footer>


  


</body>


<script src="{% static 'main/main.js' %}"></script>

</html>